<a href="https://colab.research.google.com/github/QuocDung21/QuocDung21/blob/main/Inracayquyetdinh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Imports needed for the script
import numpy as np
import pandas as pd
import re
import xgboost as xgb
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls

from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from IPython.display import Image as PImage
from subprocess import check_call
from PIL import Image, ImageDraw, ImageFont

# Loading the data
data = pd.read_csv('/content/drive/MyDrive/Tri tue nhan tao/AllElectronics.csv')

In [4]:
X = data.iloc[:,:-1]
X

    ID          age  income student credit_rating
0    1        youth    high      no          fair
1    2        youth    high      no     excellent
2    3  middle_aged    high      no          fair
3    4       senior  medium      no          fair
4    5       senior     low     yes          fair
5    6       senior     low     yes     excellent
6    7  middle_aged     low     yes     excellent
7    8        youth  medium      no          fair
8    9        youth     low     yes          fair
9   10       senior  medium     yes          fair
10  11        youth  medium     yes     excellent
11  12  middle_aged  medium      no     excellent
12  13  middle_aged    high     yes          fair
13  14       senior  medium      no     excellent

In [10]:
y = data.iloc[:,5]
y

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: class_buys_computer, dtype: object

In [11]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
X = X.apply(LabelEncoder().fit_transform)
X

    ID  age  income  student  credit_rating
0    0    2       0        0              1
1    1    2       0        0              0
2    2    0       0        0              1
3    3    1       2        0              1
4    4    1       1        1              1
5    5    1       1        1              0
6    6    0       1        1              0
7    7    2       2        0              1
8    8    2       1        1              1
9    9    1       2        1              1
10  10    2       2        1              0
11  11    0       2        0              0
12  12    0       0        1              1
13  13    1       2        0              0

In [12]:
from sklearn.tree import DecisionTreeClassifier
regressor = DecisionTreeClassifier()
regressor.fit(X.iloc[:,1:5],y)
X_in = np.array([1,1,0,0])
y_pred= regressor.predict([X_in])
y_pred

array(['no'], dtype=object)

In [13]:
from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz
import pydotplus
dot_data = StringIO()
export_graphviz(regressor , out_file=dot_data,filled=True ,rounded=True,special_characters=True)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png('Tree_Buy_Computer.png')

True